$def with (q1, q2, q3, q4)

<!DOCTYPE html>
<html>

<head>
	<title>LEAFLET TEST Fear of Crime in Wellington</title>

	<!-- CAU GEOJSON data -->
	<script type="text/javascript" 
		src="static/javascript/wgtn_cau_WGS84.js">
	</script>

	<!-- Leaflet core js -->
	<script type="text/javascript"
		src="static/javascript/leafletjs_dist/leaflet.js">
	</script>
	
	<!-- MapBox core js -->
  	<script type="text/javascript"
  	    src="http://api.tiles.mapbox.com/mapbox.js/v1.0.3/mapbox.js">
  	</script>

	<!-- JQuery core js -->
	<script type="text/javascript"
		src="static/javascript/jquery-1.9.1.min.js">
	</script>
	
	<!-- JQueryUI core js -->
	<script type="text/javascript"
		src="static/javascript/jquery-ui.js">
	</script>

	<!-- the css style sheets
	<link rel="stylesheet" type="text/css" href="static/fearOfCrime.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="static/javascript/theme/default/style.css" media="screen" />-->
	<link rel="stylesheet" type="text/css" href="static/javascript/leafletjs_dist/leaflet.css" media="screen" />
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="static/javascript/leafletjs_dist/leaflet.ie.css" />
	<![endif]-->
	
	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.3/mapbox.css' rel='stylesheet' />
  	<!--[if lte IE 8]>
    	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.3/mapbox.ie.css' rel='stylesheet' />
  	<![endif]-->

	<style>
		html, body { height: 90%; }
		
		#maptitle, #maingroup, #disclaimer { height: 50px; }
		#maingroup { height: 100%; position: relative; }
		#map { height: 100%; }
		#steps { height: 150px; width: 250px; position: absolute; right: 0px; top: 0px; background-image:url('static/images/cream_pixels.png'); opacity:0.8; filter:alpha(opacity=80); }
		#questionaire { display: none; height: 400px; width: 250px; position: absolute; right: 0px; top: 100px; background-image:url('static/images/cream_pixels.png'); opacity:0.8; filter:alpha(opacity=80); }
		#disclaimer { clear: both; text-align:center; font-size: 12px; }
		
		h2 { text-align: center; }
	</style>
</head>

<body>
	<div id="maptitle">
		<h2>DEMO Fear of Crime in Wellington</h2>
	</div>
	<div id="maingroup">
		<div id="map"></div>
		<div id="steps">
			<p id="steptext">$q1</p>
			<button type="button" onclick="proceed()">Proceed</button>
			<button type="button" onclick="rmvMarker()">Remove last marker</button>
		</div>
		<div id="questionaire"> <!-- this should be made visible by setting 'display: inline;' when needed by q4 -->
			<form>
				<p id="q4q1">Gender:</p>
				<input type="text" name="gender"><br>
				<p id="q4q2">Q2:</p> 
				<input type="text" name="q2">
				<p id="q4q3">Q3:</p> 
				<input type="text" name="q3">
				<p id="q4q4">Q4:</p> 
				<input type="text" name="q4">
				<p id="q4q5">Q5:</p> 
				<input type="text" name="q5">
			</form>
			<!--<form name="main" method="post"> 
				if not questionaire.valid: <p class="error">Try again, AmeriCAN:</p>
				:questionaire.render()
			</form>-->
		</div>
	</div>
	<div id="disclaimer">
		<p>Victoria University: bla bla bla disclaimer stuff.</p>
	</div>

	<script>
		//declaration of app functions
		function proceed() {
			if (step == 1) {
				//check if step1markers has any content - if not, throw a pop-up error and break out of this function
				if (step1markers.length < 1) {
					alert("Please click on at least one location where you think crime is high in Wellington!");
				} else {
					//advance the text prompt, and the step variable for this function
					jQuery("#steptext").text('$q2');
					step++;
					//remove the step1markers from the map
					for(i=0;i<step1markers.length;i++) {
					    map.removeLayer(step1markers[i]);
					};
				}
			} else if (step == 2) {
				//check if step2markers has any content - if not, throw a pop-up error and break out of this function
				if (step2markers.length < 1) {
					alert("Please click on at least one location where you feel unsafe walking at night in Wellington!");
				} else {
					jQuery("#steptext").text('$q3');
					step++;
					//remove the step2markers from the map
					for(i=0;i<step2markers.length;i++) {
					    map.removeLayer(step2markers[i]);
					};
					//set visible the CAU polygon layer in prep for q3
					//and remove the button 'rmvMarker', as no longer needed
					
					//from KUDADEMO
					//var overlay = L.geoJson(admin1, {style: style, onEachFeature: onEachFeature} ).addTo(map);
				}
			} else if (step == 3) {
				//check if cauSelection is empty - if so, throw a pop-up error and break out of this function
				if (cauSelection == '') {
					//alert('Please select which area you live in, either by clicking the map or selecting an option from the drop-down menu!');
					alert('DEV: cauSelection is now assigned "default", as CAU map layer is not active');
					cauSelection = 'default';
				} else {
					appdata.s3 = cauSelection;
					jQuery("#steptext").text('$q4');
					step++;
					
					//add/make visible the questionaire text for q4
				}
			} else if (step == 4) {
				//jQuery("DOM element").text(web.py variable for processing/final text);
				step++;
			}
		};
		
		function rmvMarker() {
			//remove the last marker added from both the map and from the appropriate marker array
			if (step == 1) {
				map.removeLayer(step1markers.pop());
				appdata.s1.pop();
			} else if (step == 2) {
				map.removeLayer(step2markers.pop());
				appdata.s2.pop();
			}
		};
		
		//on map click, a marker is added to the step1markers array while also being added to the map. Each marker can be accessed via it's index position in the array, and the latlng's can be accessed via step1markers[i].getLatLng().lat/lng
		function onMapClick(e) {
			ll = e.latlng;
			if (step == 1) {
				step1markers.push(L.marker(ll, {icon: s1icon}).addTo(map));
				//L.marker(ll, {icon: s1icon}).addTo(map);
				appdata.s1.push([ll.lat, ll.lng]);
			} else if (step == 2) {
				step2markers.push(L.marker(ll, {icon: s2icon}).addTo(map));
				//L.marker(ll, {icon: s2icon}).addTo(map);
				appdata.s2.push([ll.lat, ll.lng]);
			//else if (step == 3) { could do which CAU e.latlng is within, but that likely involves complex spatial checks. Probably better to ignore e.latlng and instead use mouseover/click stuff on a new polygon layer, somewhat similar to choropleth map for Kuda demo.
		}};

		//jqueryui function/s
		function runEffect() {
			jquery( "#steps" ).toggle( slide, 500 );
		}

		//declaration of globals

		//Ideally perhaps the appdata is a GEOJSON rather than JSON - easier to retrieve and parse the geographic points from a database if so? Would need to think about the exact format/structure, given there are 2 sets of points which are seperate to one another.
		//Might be best if appdata is a JSON object, steps 1 and 2 are GEOJSON objects themselves (really just collections of points), step 3 is a simple string for name of suburb (or this could be a GEOJSON if it would be useful to store the polygon coordinates? consider later?), and step 4 is a collection of string answers.
		//Decisions regarding the storage really depend on how Mairead is thinking she will access the data, what analysis she wants to make on it... Start basic for now, can always improve and make more complex.
		//UPDATE: Think I will just have a JSON structure for the data client-side, and then once the app logic is completed, (async) parse the JSON and store the data in postgres table (multiple columns, single row per participant)

		//for clarity, defining the structure of the main JSON-formatted object (the object that is parsed to the database upon completion)
		//as well as the other vars used
		//(most can probably be locals instead for prod)
		var appdata = {
			'date': new Date(), //fix this, shouldn't be ticks
			's1': [],
			's2': [],
			's3': '',
			's4': {
				'q1': '',
				'q2': '',
				'q3': '',
				'q4': '',
				'q5': '',
				'q6': '',
				'q7': ''
			}
		};
		var step1markers = [];
		var step2markers = [];
		var cauSelection = '';
		var step = 1;
		//check out the defining the icon class at bottom of custom icons tut, would clean up code here
		var s1icon = L.icon({
			iconUrl: 'static/images/theftdark.png',
			iconSize:     [32, 37], // size of the icon
			iconAnchor:   [16, 2], // point of the icon which will correspond to marker's location
		});
		var s2icon = L.icon({
			iconUrl: 'static/images/crimescenered.png',
			iconSize:     [32, 37], // size of the icon
			iconAnchor:   [16, 2], // point of the icon which will correspond to marker's location
		});
		
		//globals for debugging
		var ll;
		
		// app logic
		//basic setup of map and baselayer on #map div.
		/*
		var map = L.map('map').setView([-41.291222,174.77452], 13);
		var baselayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);
		*/
		
		//mapbox plugin, mapbox layer
		var map = L.mapbox.map('map', 'envintage.map-ny9ut6bc')
      		.setView([-41.291222,174.77452], 12);
		//jquery('#questionaire.q4q1').text(q4questions[0]);
		
		//add the CAU GEOJSON to map
		L.geoJson(wgtn_caus).addTo(map);

		map.on('click', onMapClick);
		//q3layer.on('click', onLayerClick);
		


		//NOTES:
		//each marker that is added via a map click, add that marker to an array of markers. then, have a button titled "remove last marker" which iteratively removes the last marker of the array via it's index.
		//when proceeding to step 2, add that array of markers (var = step1Makers ?) to the global JSON object i am using for the app data.
		//unsure as of yet how to tackle the CAU layer (some kind of seperate L.layer with visibility = 0 except on mouseover etc)

	</script>

</body>

</html>
